
<% if !@bonus %>
  <h1>Přihláška do <%= @config[:annual] %>. ročníku Pikomatu</h1>
<% else %>
  <h1>Přihláška pro bonusovou sérii <%= @config[:annual] %>. ročníku Pikomatu</h1>
<% end %>

<% is_new  = true %>
<%= render :partial => 'form', :locals => { :is_edit => false, :is_confirm => false, :is_bonus => @bonus} %>

<hr>
<a name="souhlas"></a>
<h3>Souhlas se zpracovnáním osobních údajů</h3>

<p>
Tímto uděluji souhlas Univerzitě Karlově, se sídlem Ovocný trh 560/5, 116 36
Praha 1, IČO 00216208 (dále jen UK), která je správcem osobních údajů všech
fakult a součástí UK, ke zpracování osobních údajů pro potřeby korespondenčního
semináře Pikomat MFF UK Matematicko-fyzikální fakulty UK (dále jen Pikomat
a MFF UK).</p>

<p>
Tento souhlas uděluji pro všechny výše uvedené osobní údaje, a to po dobu
účasti v semináři a 10 let poté, a dále souhlasím s uchováváním potřebných dat
pro archivní účely i po této lhůtě (vystavené výsledkové listiny aj.). MFF UK
tyto údaje zpracovává za účelem evidence řešitelů a účastníků Pikomatu,
k zajištění celoročního fungování semináře, analýze účinnosti jednotlivých
propagačních akcí MFF UK a zpravodajským účelům.</p>

<p>
Údaje nebudou předány třetí osobě ani využívány k jiným účelům, než ke kterým
byly poskytnuty. Tento souhlas uděluji ze své vlastní a svobodné vůle a beru na
vědomí, že jej mohu kdykoliv odvolat zasláním e-mailu na adresu
pikomat-gdpr@mff.cuni.cz. Stejně tak může být požadováno vymazání
i z archivních údajů Pikomatu, pokud to bude technicky možné. Beru na vědomí,
že údaje z tištěných publikací není možné zpětně odstranit.</p>

<p>
Dále máte právo:
  <ul>
    <li> požádat o informaci, jaké osobní údaje jsou o vás zpracovávány,</li>
    <li> požadovat opravu osobních údajů, pokud jsou neplatné nebo zastaralé,</li>
    <li> požadovat, aby nebyly vaše osobní údaje zpracovávány do doby, než bude vyřešena oprávněnost výše uvedených požadavků,</li>
    <li> požadovat, aby byly vaše osobní údaje předány jinému správci,</li>
    <li> podat stížnost u dozorového úřadu.</li>
  </ul>
</p>

<p>
V případě jakéhokoliv dotazu nebo uplatnění svých práv můžete kontaktovat pověřence pro ochranu osobních údajů na e-mailové adrese gdpr@cuni.cz.</p>
