.bundle
/log
public/js
public/data
*.swp
/var/db/*.sqlite3
db/lidi29*.yml
db/skoly29.yml
log/*.log
log/*.log.gz
tmp/
/tmp.*
tags
/Trash
/public/mails
/public/fotky
/public/smutecni_oznameni.*
/.yardoc
/doc
/ovvp
/Trash
/var/uploads/*.zip
/var/uploads/*.tmpl
/var/uploads/*.pdf
/var/uploads/*.ext
/var/uploads/*.bad
/public/doc
