<h1>Chyba - nepřihlášený uživatel</h1>
Aby sis mohl založit uživatelský účet, musíš se nejprve
<%= link_to "přihlásit", "https://pikomat.mff.cuni.cz/users/sign_in" %>.<br>
  Pokud nemáš ani uživatelský účet (nikdy jsi Pikomat neřešil), <%= link_to "vytvoř si účastnicý účet od nuly", act_scout_new_complet_path %>!
