<h1>Přístup zamítnut</h1>
Bohužel nemáš oprávnění na 
<% if desired == "create" %>
vytváření nových
<% elsif desired == "read" %>
čtení
<% elsif desired == "update" %>
upravování
<% elsif desired == "delete" %>
mazání
<% else %>
????? (napiš Tondovi, jedná se o chybu")
<% end %>
 typů akcí.
