.act_events_background_image {
  background: url("../images/events_background_2.jpg");
  background-repeat: no-repeat;
  background-size: 1000px;
  opacity: 1;
}
.act_events_bck_white { background: rgba(255,255,255,0); }

.act_events_leave_space { margin-bottom: 10px; margin-top: 10px }

table.act_events_space_right { border-spacing: 30px; }
