
/* fonty */
p { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
h1 { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
body { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
button { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
input { font-family: 'AndulkaSerifBookBold', Arial, sans-serif; }
