
/************************
 *  fonty andulka wiki: diff
 */
p      { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
h1     { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
h2     { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
h3     { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
h4     { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
body   { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
select { font-family: 'AndulkaSerifBookRegular', Arial, sans-serif; }
button { font-family: 'AndulkaSerifBookBold',    Arial, sans-serif; }
input  { font-family: 'AndulkaSerifBookBold',    Arial, sans-serif; }
textarea  { font-family: 'Courier' ; }


/************************
 *  forms
 */

/* error */
.field_with_errors {
    display: inline;
}
.field_with_errors input,
.field_with_errors select,
.field_with_errors textarea {
    border-color: rgb(185, 74, 72);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

form.form-inline {
margin-bottom: 0px;
}

input,
input.input-medium
{
   margin-bottom: 0px;
}

input.input-minimini {
   width: 20px;
   margin-bottom: 0px;
}
/************************
 *  wiki: diff
 */
.merge {
  border: 1px solid black;
  background-color: red;

  /* not dry: cut'n'paste from bootstrap.css */
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 2005, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.merge-mine:before {
  content: "⇓⇓⇓ ";
}

.merge-split:before {
  content: "⇕⇕⇕ ";
}
.merge-orig:before {
  content: "⇓⇓⇓ ";
}

.merge-your:before {
  content: "⇑⇑⇑ ";
}

/************************
 *  wiki hacks
 */
.editheading {
font-size: 12px;
margin-left: 3em;
}
.toc {
        margin: 1em;
}
.editheading:before { content: "["; }
.editheading:after  { content: "]"; }


/************************
 *  foto galerie
 */

.box {
	border:1px solid black;
}
.bg-green {
	background-color: #a0ffa0;
}
.bg-red {
	background-color: #ffa0a0;
}

/************************
 *  math hack
 */

.math:hover {
	background-color: #ffff80;
}

/************************
 *  wiki foto
 */
.fotos hr {
  clear: left;
}
.foto {
  border:1px solid black;
  float:left;
  display: block;
  position: relative;
  overflow:hidden;
}
.foto img {
  height: 170px;
  display: table;
  margin: 0 auto;
}
.foto span {
  width: 1000px;
  position: absolute;
  bottom: 0;
  padding-left: 0.5em;
  overflow: visible;
  clean: left;
  color: white;
  font-family: arial,sans-serif;
  font-size: 13px;
  text-overflow: ellipsis;
  background-color:rgba(0,0,0, 0.5);
}

.fotofilter {
  cursor: pointer;
}

/************************
 *  hacks
 */
table, th, td { 
 border: 1px solid black;
}
.table td {
 padding: 4px;
}

/************************
 *  ace hacks
 */


.no-skin .nav-list > li.open > a {
  color: #585858;
}


/* hack v navbaru aby 'brand' zacinal opticky zarovnany s menu */
.navbar > .container .navbar-brand  {
  margin-left: 0px;
}

/* hacky na hlavni stranku */

.tep-index .tep-index-menu.row {
  padding-left: 12px;
  padding-right: 12px;
}
.tep-index .col-sm-3 {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -1px;
}

.nojs-in {
  display:block;
}

.tep-fix-tools {
   position:fixed;
   bottom:0px;
   left:0px;
}


/* hack: oddelit cestu lomitkama ne '>>' */
.breadcrumb > li + li.tep-slash:before {
  content: "/";
}

/* stin  hlavniho boxu */
.no-skin .container.main-container:before,
.skin-1 .container.main-container:before,
.skin-2 .container.main-container:before,
.skin-3 .container.main-container:before,
.skin-green .container.main-container:before
{
  box-shadow: 0px 2px 70px #888888;
}

/* stin horni listy */
.navbar {
  box-shadow: 0px 2px 30px #888888;
}
/* podklad hacky*/

body,
.main-container > div,
.main-container > div > div ,
.main-container > div > div > div,
.main-container {
  background-color: transparent;
}

.main-container {
  background-color: rgba(255,255,255,.0);
}


.main-container.container:before ,
.page-content{
  background-color: rgba(255,255,255,.85);
}

/* pozadi  */
body{
  background-image: url('../images/f2b.jpg');
}
body.skin-1,
body.skin-2
{ /* cerna */
  background-image: url('../images/f2.jpg');
}

/* hacky green skinu */
.skin-green .ace-nav a  {
  background-color: green;
}
.skin-green a ,
.skin-green .breadcrumb > li > a,
.skin-green .widget-header  {
  color:green;
}



/* stin pod rameckem */
.widget-box {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.075);
}


.center  {
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}

/***********************************************************************************/


/* prouzek 'devel version' v pravem dolnim rohu */
.devel-version {
   pointer-events:none;
   z-index:99;
   position:fixed;
   bottom:0;
   right:0;
   border:0;
}


/***********************************************************************************/
/* hacky v navbarech a indexu */
/* logo pikomatu */

.tep-index-menu {
 background-image:  url('http://pikomat.ms.mff.cuni.cz/tabor/2013/pasy/pas4_2013.png');
 background-position: 0px 40px;
 /*background-color: #D8EBF1; /*  peta 2 */
}
.tep-index-menu > div {
 background-color: rgba(255,255,255,0.7);
}


/* cele index-menu je  pruhledne */
.tep-index-menu .tep-index-header {
  background-color: #f3f3f3;
}
/* barva zobacku */
.popover.top .arrow:after {
  border-top-color: #438EB9;
  -moz-border-top-colors: #438EB9;
  border-top-color: #f3f3f3;
  -moz-border-top-colors: #f3f3f3;
}

/* oheckovani paddingu v indexu */
.tep-index .page-content .row #page-content-top {
  padding: 0px;
}
.tep-index .page-content .row {
  margin: 0px;
}
.tep-index .page-content {
  padding: 0px;
}
.tep-index .tep-index-menu.row {
  margin: 0px;
  padding: 0px;
  padding-right: -10px;
}
/* mezera na zobacek */

/* nahrada za list-unstyled, spaced */
.tep-index-body ul{
  padding-left: 20px;
  list-style: none outside none;
  margin-left: 0px;
  font-size: 16px;
}
.tep-index-body ul .fa {
  color: green;
}

.tep-index-body ul li{
  margin-top: 9px;
  margin-bottom: 9px;
}


.tep-index-header {
  font-size: 18px;
  width: 100%;
}
.tep-index-header p {
  margin: 0px;
}
.tep-index-header a {
  display: block;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}


/* menu sloupce roztahnout, aby se dotykaly */
.tep-index-menu .grid4 {
 width: 25%;
 margin: 0px;
 padding: 0px;
 float: left;
}
@media only screen and (max-width: 360px) {

.tep-index-menu .grid4 {
    float: none;
    display: block;
    width: 100%;
    border-left-width: 0;
    position: relative;
    margin-bottom: 11px;
    border-bottom: 1px solid #E3E3E3;
    padding-bottom: 4px;
  }
}

.tep-index-arrow {

  border: 9px solid #f3f3f3;
  width:0px;
  height:0px;
  border-bottom-size: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin: auto;
}


/* skryt menu a cestu kdyz je */
.tep-index .breadcrumbs {
  display: none;
}
.tep-index-back {
  padding: 20px;
}
