
<h3> Jak elektronicky odevzdávat?</h3>

<p>Elektronickou cestou můžete odevzdat řešení buď zpracované v některém
editoru anebo naskenované ručně psané řešení. Nahrávat lze pouze soubory ve
formátu PDF. Proto skenujte nebo exportujte řešení do PDF. Vaše řešení můžete
nahrávat zde konkrtétně v záložce Moje řešení.
</p>


<p><b>!POZOR!</b>
Nebudeme opravovat řešení, která jsou vyfocená fotoaparátem nebo mobilem
v nedostatečné kvalitě a čitelnosti. </p>

<h3>Jak vytvořit PDF?</h3>

<p>Soubor PDF lze vytvořit jak v originálním Adobe Acrobat, tak i ve většině
editorů, včetně MS Word, či Open Office. V těchto textových editorech lze
dokument uložit přímo jako PDF soubor. Druhou variantou je nainstalovat si PDF
tiskárnu, dokument pak tisknete z libovolného zdroje a on se vám uloží jako
PDF. Nejpoužívanějšími jsou PdfCreator nebo DoPDF. Lze si je stáhnout jako
freeware. Maximální nahratelná velikost vašeho PDF souboru je 20MB. </p>

<h3>Co s obrázky?</h3>

<p>Pokud chcete odevzdávat elektronicky řešení s obrázky, vložte obrázky přímo
do dokumentu ke zbytku vašeho řešení. Obrázky můžete tvořit v GeoGebře,
malování,
GIMPu či dalších grafických editorech. Obrázek uložte ve formátu jpg, bmp, png
či gif. Obrázky lze také nakreslit ručně a naskenovat. I v tomto případě vložte
obrázek do zbytku řešení. </p>

<h3>Jak řešení nahrát?</h3>

<p>
Po přihlášení jsi se dostal do samotné aplikace <b>Tep</b> Odevzdávání je možné
do 24:00 v den odevzdání (př.: termín odevzdání je 2.12:, tedy nejpozději
v 24:00 2.12. (tedy 00:00 3.12.) musí být řešení nahráno). Poté už nebude možné
nahrát žádné další řešení. Doporučujeme se <b>Tepem</b> seznámit
dříve, než v den odeslání, pak už nemusí být čas řešit nejasností. </p>

<h3>Jak obdržím své opravené řešení?</h3>

<p>
I přes <b>Tep</b> je možné odevzlat zpět vaše opravená řešení. V této sérii se
pokusíme začít s tím. Ale pro jistotu úlohy u nás vytiskneme, opravíme
a pošleme vám zpět poštou, spolu s ostatními řešeními a zadáním. </p>

<h3>TEP je zkratka čeho?</h3>

Názory se různí, možná je to totalně epesní portál, tau=epsilon/pi, tržiště
elementární pikomagiky, ale i triethylenphosphor. Biologická sekce dokonce
navrhuje tatranský endemický pryskřník. Rozhodně to není TEchnoParty. Myslíme
Vzhledem k tomu všemu je to prostě tajná esence pikomatu. Výzku v tomto oboru
stále trvá.
