<h3>Jak elektronicky odevzdávat?</h3>

<p>Elektronickou cestou můžete odevzdat řešení buď zpracované v některém
editoru, nebo naskenované ručně psané řešení. Nahrávat lze pouze soubory ve
formátu PDF. Proto skenujte nebo exportujte řešení do PDF. Vaše řešení můžete
nahrávat přímo tady v záložce Moje řešení.</p>

<p><b>!POZOR!</b> Nebudeme opravovat řešení, která jsou vyfocená fotoaparátem nebo
mobilem v nedostatečné kvalitě a jsou špatně čitelná.</p>


<h3>Jak vytvořit PDF?</h3>

<p>Soubor PDF lze vytvořit jak v originálním Adobe Acrobat, tak i ve většině
editorů, včetně MS Word či Open Office. V těchto textových editorech lze
dokument uložit přímo jako PDF soubor. Druhou variantou je nainstalovat si PDF
tiskárnu, dokument pak tisknete z libovolného zdroje a on se vám uloží jako
PDF. Nejpoužívanějšími jsou PdfCreator nebo DoPDF. Lze si je stáhnout jako
freeware. Maximální nahratelná velikost vašeho PDF souboru je 20MB.</p>

<h3>Co s obrázky?</h3>

<p>Pokud chcete odevzdávat elektronicky řešení s obrázky, vložte obrázky přímo
do dokumentu ke zbytku vašeho řešení. Obrázky můžete tvořit v GeoGebře,
malování, GIMPu či dalších grafických editorech. Obrázek uložte ve formátu jpg,
bmp, png nebo gif. Obrázky lze také nakreslit ručně a naskenovat. I v tomto
případě vložte obrázek do zbytku řešení.</p>

<h3>Jak řešení nahrát?</h3>

<p>Po přihlášení ses dostal do samotné aplikace <b>Tep</b>. Odesílat řešení je možné
do 23:59:59 posledního dne odevzdávání. Po půlnoci už nebude možné nahrát žádná
další řešení. Doporučujeme se <b>Tepem</b> seznámit dříve než v den odeslání, pak už
nemusí být čas řešit nejasnosti.</p>

<h3>Jak obdržím své opravené řešení?</h3>

<p>I přes <b>Tep</b> je možné odeslat zpět vaše opravená řešení. V této sérii se s tím
pokusíme začít. Ale pro jistotu úlohy u nás vytiskneme, opravíme a pošleme vám
zpět i poštou, a to společně s ostatními řešeními a zadáním.</p>


<h3>TEP je zkratka čeho?</h3>

<p>Názory se různí, možná je to Totálně Epesní Portál, Tau=Epsilon/Pí, Tržiště
Elementární Pikomagiky, ale i TriEthylenPhosphor. Biologická sekce dokonce
navrhuje Tatranský Endemický Pryskyřník. Rozhodně to není TEchnoParty. Myslíme,
vzhledem k tomu všemu, že je to prostě Tajná Esence Pikomatu. Výzkum v tomto
oboru stále trvá.</p>

