<h1>Pia desideria</h1>

<% if current_user  %>
  <p>Vítej <%= current_user.email %>.</p>
<% end %>

<%#
pikomat
internet ideal idyla  iluze
axiom altanek archiv artefakt atentat atrapa aplikace
ADVD
%>
<p> ... a to je zatím vše.</p>

