<div class="form-group">
  <%= f.label name, text, :class => 'col-sm-4 control-label no-padding-right'%>
  <div class="col-sm-8 <%= form_error_class obj, name %>">
    <%= f.check_box(name) %>
    <%= form_error obj, name %>
  </div>
</div>

