<div class="form-group">
  <%= f.label name, text, :class => 'col-sm-2 control-label no-padding-right'%>
  <div class="col-sm-10 <%= form_error_class obj, name %>">
    <%= f.select name, options %>
   <%= form_error obj, name %>
  </div>
</div>

