<h1>Akce nenalezena</h1>
Tato akce bohužel zatím neexistuje. Zkontroluj si, prosím, že odkaz, který jsi právě zadal, neobsahuje o číslo navíc. Případně zkus akci nalézt 
<%= link_to "zde", events_path %>.
Pokud si myslíš, že by daný odkaz opravdu měl fungovat, neváhej a napiš nám mail! :-)
