<p>Vítej <%= @resource.email %>!</p>


<p>Nyní můžeš potvrdit svůj účet pomocí následujícího linku:</p>

<p><%= link_to 'Potvrdit účet', confirmation_url(@resource, :confirmation_token => @token ) %>.</p>

