<p>Ahoj <%= @resource.email %>!</p>

<p>Někdo (pravděpodobně ty) požádal o změnu hesla na Pikomatu, pro dokončení klikni na následující odkaz:

<p><%= link_to 'Změnit heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Pokud jsi nežádal o změnu hesla, tento dopis prosím ignruj.</p>
<p>Heslo nebude změněno, dokud to nepotvrdíš na výše uvedeném odkazu.</p>
