<p>Ahoj <%= @resource.email %>!</p>

<p>Tvůj účet byl uzamčet z důvodu velkého množství neúspěšných pokusů o přihlášení.</p>

<p>Opět odemknout účet můžeš pomocí tohoto odkazu:</p>

<p><%= link_to 'Odemknout účet', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
