<p>Vítej pikomaťáku <%= @resource.email %>!</p>


<p>Tento dopis ti přišel, protože tě někdo (pravděpodoboně ty) příhlásil do soutěže Pikomat.</p>

<p>Pokud chceš řešení odesílat elektronicky, dokonči registraci pomocí následujícího linku:</p>

<p><%= link_to 'Dokončit registraci', user_finish_registration_url(:token => @resource.reset_password_token) %></p>


<p>Na tvoji účast v soutěži se těší organizátoři Pikomatu MFF UK.</p>

<p><a href="http://pikomat.mff.cuni.cz/">http://pikomat.mff.cuni.cz/</a></p>

<hr>

<p>Pokud jsi o účast v Pikomatu nežádal, pak, prosím, ignoruj tento dopis.</p>
