<h1>Opravdu cheš smazat tento účastnický účet?</h1>
<% if can? :delete_other, Scout || current_user.id == scout.user_id %>
  <%= form_tag delete_scout_path(@scout) do %>
    <%= submit_tag  'Ano', :class=>'btn btn-danger' %>
  <% end %>
  <br>
  <%= link_to 'Ne', scout_path(@scout), :class => 'btn btn-primary' %>
<% else %>
  <%= submit_tag  'Smazat účastnický účet může pouze admin nebo vlastník účtu', :class=>'btn btn-disabled' %></div>
<% end %>
