<h1>Účastnické účty</h1>

<p>
Účastnické účty slouží k tomu, aby ses mohl přihlásit na Pikomatí akce. Oproti starému systému přihlašování tak nebudeš mouset vyplňovat na každou akci celou přihlášku znovu.
</p>

<p>
<% if current_user.nil? %>
  Na vytvoření účastnického účtu se ale musíš nejprve 
  <%= link_to "Přihlásit", "users/sign_in" %>
<% elsif not Scout::scouts?(current_user) %>

<%= button_tag "Vytvoř si vlastní účet!", :href => new_scout_path, :class => 'btn btn-primary' %>.
<% else %>
  Ty již účastnický účet máš. Proto neváhej, a na nějakou akci se přihlaš :-). Seznam všech akcí nalezneš <%= link_to "zde", events_path %>.
<% end %>
</p>

<% if can? :show_other, Scout %>
  <h2>Přehled účastnických účtů</h2>
  <%= render @scouts %>
<% end %>
