<div class="form-group">
  <div class="col-sm-offset-0 col-sm-7">
    <center>
    <% if (can? :delete_other, Act::Participant) || (participant.is_me?(current_user)) %>
      <%= button_tag  'Smazat účet', :href => act_participant_confirm_delete_path(participant_id: participant.id), :class=>'btn btn-danger' %>
    <% elsif (can? :update_other, Act::Participant) %>
      <%= submit_tag  'Smazat účastnický účet může pouze admin nebo vlastník účtu', :class=>'btn btn-disabled' %>
    <% end %>
    </center>
  </div>
</div>
