<p>
    <div class="col-sm-12" style="font-size: 13px;padding-bottom:8px">
    <div class="col-sm-5" align="right"><%= first %>:</div>
    <div class="col-sm-7">
        <%= second %>
    </div>
    </div>
</p>