<h1>Editovat účastnický účet
<%= button_tag "Zrušit", :href => act_participant_path(@participant), :class=>'btn', :ico =>'fa-reply' %>
</h1>

<%= render :partial => "form_edit", :locals => { :is_edit => true, :participant => @participant } %>

<%= render partial: "button_delete", :locals => { :participant => @participant } %>
