<h1>Chyba - nepřihlášený uživatel</h1>
<p>
Aby sis mohl založit uživatelský účet, musíš se nejprve
<%= link_to "přihlásit", new_user_session_url %>.<br>
</p>

<p>
Pokud nemáš ani uživatelský účet (nikdy jsi Pikomat neřešil), <%= link_to "vytvoř si účastnicý účet od nuly", act_participant_new_complet_path %>!
</p>
