<!DOCTYPE html>
<html>
<head>
  <title>We're sorry, but something went wrong (500)</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    pre { text-align: left; background-color: #eee; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>
<body>
  <div class="dialog">
    <h1>Omlouváme se, nastala neočekávána chyba.</h1>
    <p>Považuješ-li chybu za závažnou napiš na pikomat@mff.cuni.cz. Uveď, prosím, číslo chyby: <%= @errid %>.
    </p>
    <% if @error && can?(:view_error, :tep) %>
      <h1>Popis chyby:</h2>
      <pre><%= @error %></pre>
    <% end %>
    <p>
  </div>
</body>
</html>
